@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&family=Open+Sans:ital,wght@1,300&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

body, #modal-content {
    background-color: rgb(255 249 243);
}


p {
    font-family: "Martel Sans", sans-serif;
}

#quines p {
    text-align: justify;
    font-size: 1.5em;
    font-weight: 400;
    max-width: 70%;
}
#quines>img, #catalogoS>img, #agendar img {
    max-width: 80%;
}

p span {
    font-weight: 900;
}

#quines p:first-of-type {
    margin-top: 3em;
}

section.hidden {
    display: none !important;
}

a.btn {
    background-color: #fbc896 !important;
    border: none;
    color: brown;
}
#catalogoS>div{
    width: 80%;
}

#catalogoS button {
    border-radius: 10px 10px 0 0;
    background-color: #fbc896 !important;
    border: none;
}

#catalogo {
    background-color: rgb(235, 217, 198);
}
iframe{
    width: 80%;
}
.pasos .col-3{
    font-size: 2em;
    font-weight: 900;
    color: #9b4e22;
}
.pasos span:first-child {
    font-weight: 900;
    font-size: 1.1em;
    color: #9b4e22;
}
.recuerda{
    border: 3px solid rgb(235, 217, 198);
    box-sizing: border-box;
    margin-top: 2em;
}
.recuerda div{
    margin: 1.3em;
    font-size: 1.3em;
    color: #9b4e22;
    font-weight: 900;
    text-align: center;
}
#catalogoS button.btnClicado{
    /*box-shadow: inset 0px 0px 5px black;*/
    font-weight: 600;
    background-color: #f7a85b !important;
}

@media screen and (max-width: 575px) {
    #quines p {
        font-size: 1em;
    }
    #quines>img, #catalogoS>img, #agendar img {
        max-width: 65%;
        min-width: 200px;
    }
  }